PORT=5000
MONGODB_URI=mongodb://localhost:27017/llm-council
AGENT1_KEY=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
AGENT2_KEY=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
AGENT3_KEY=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
